{% extends templatePath ~ "base.html.twig" %}

{% block additionnal_wrapper_class %}multicolor{% endblock %}

{% block timetable_downer_content %}
    <div id="timetables-wrapper" class="clearfix">
        {% for i in 1..4 %}
            {% set id = 'timegrid_block_' ~ i %}
            {% set block = attribute(timetable.blocks, id) %}
            {% set addNotes = true %}
            {% if i == 3 %}
                {% set nbLines = 10 %}
            {% elseif i == 4 %}
                {% set nbLines = 8 %}
            {% else %}
                {% set nbLines = 12 %}
            {% endif %}
            {% include "CanalTPMttBundle:Layouts:timegrid.html.twig" with {'addNotes': addNotes, 'nbLines' : nbLines} %}
        {% endfor %}


        <div id="bottom-right-block" class="clearfix">
                <div id="small-right-blocks">
                    {{ macros.description('small-block') }}
                    {{ macros.stop_point_pois('text_block_3', stopPoint, 'small-block', 'Points de vente - Relais Setram') }}
                    {{ macros.stop_point_code('text_block_4', stopPoint, 'small-block', 'Code TIMEO de cet arrêt', 'timeo') }}
                </div>
                <img class="setram-logo" src="{{ asset(imgPath ~ 'bandeau_logo_setram.png') }}">
        </div>




    </div>
{% endblock %}
